@import 'variables';

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.bubble {
  background-color: #119;
  border-radius: $border-radius;
  border: 2px solid #008;
  margin: auto 1em;
  flex: 0 1 auto;
}
